<div style="text-align: center;">
    <h1 style="padding: 10px"><span class="badge bg-secondary">L I S T A D O - P E D I D O S</span></h1>
    <hr>
</div>

<table class="table table-hover">
    <thead>
        <tr style="text-align: center;">
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Usuario</th>
            <th scope="col"># Mesa</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedido of pedidos; let i = index" style="text-align: center;">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ pedido.fecha }}</td>
            <td>{{ pedido.hora }}</td>
            <td>{{ pedido.id_usuario }}</td>
            <td>{{ pedido.id_mesa }}</td>
            <td [ngClass]="pedido.estado === 'Pendiente' ? 'pendiente' : 'cancelado'">
                <ng-container *ngIf="pedido.estado === 'Pendiente'; else otherState">
                    <a title="Detalles Pedido" (click)="verDetallePedido(pedido.id_pedido)">
                        {{ pedido.estado }}
                    </a>
                </ng-container>
                <ng-template #otherState>
                    {{ pedido.estado }}
                </ng-template>
            </td>
            <td>
                <a title="Eliminar">
                    <i class="bi bi-trash" (click)="borrarPedido(pedido.id_pedido)"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>