<div style="text-align: center;">
    <h1><span class="badge bg-secondary">LISTADO DE PEDIDOS</span></h1>
    <hr>
</div>

<table class="table table-hover">
    <thead>
        <tr style="text-align: center;">
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Usuario</th>
            <th scope="col"># Mesa</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedido of pedidos; let i = index" style="text-align: center;">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ pedido.fecha }}</td>
            <td>{{ pedido.hora }}</td>
            <td>{{ pedido.id_usuario }}</td>
            <td>{{ pedido.id_mesa }}</td>
            <td [ngClass]="pedido.estado === 'Pendiente' ? 'pendiente' : 'cancelado'">
                {{ pedido.estado }}
            </td>
            <td>
                <!-- Ícono de Listar -->
                <a title="Detalles Pedido">
                    <i class="bi bi-pencil-square" (click)="verDetallePedido(pedido.id_pedido)"></i>
                </a>
                &nbsp; <!-- Espacio entre íconos -->
                <!-- Ícono de eliminar -->
                <a title="Eliminar">
                    <i class="bi bi-trash" (click)="borrarPedido(pedido.id_pedido)"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>