<div style="text-align: center;">
    <h1 style="padding: 10px"><span class="badge bg-secondary"> R E G I S T R O - F A C T U R A S </span></h1>
    <hr>
</div>

<table class="table table-hover">
    <thead>
        <tr style="text-align: center;">
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Total</th>
            <th scope="col">Estado</th>
            <th scope="col">Pedido</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let factura of facturas; let i = index" style="text-align: center;">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ factura.fecha }}</td>
            <td>{{ factura.total }}</td>
            <td>{{ factura.estado_de_pago }}</td>
            <td>{{ factura.id_pedido }}</td>
            <td>{{ factura.nombre }}</td>
            <td>{{ factura.apellido }}</td>

            <td>
                <!-- Ícono de Listar -->
                <a href="#" title="Listar Productos">
                    <i class="bi bi-eye-fill"></i>
                </a>
                &nbsp; <!-- Espacio entre íconos -->
                <!-- Ícono de eliminar -->
                <a href="#" title="Eliminar">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>