<div class="container mt-4">
    <h1><span class="d-flex align-items-center justify-content-center badge bg-secondary">N U E V O  C L I E N T E</span></h1>
    <hr>
    <div class="row">
      <!-- Columna izquierda con el formulario -->
      <div class="col-md-6">
        <form (ngSubmit)="crearCliente()" #usuarioForm="ngForm">
          <div class="mb-3">
            <label for="cedula" class="form-label">Cédula</label>
            <input type="number" class="form-control" id="cedula" name="cedula" [(ngModel)]="newClient.cedula" required>
          </div>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="newClient.nombre" required>
          </div>
          <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="newClient.apellido" required>
          </div>
          <div class="mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="newClient.direccion">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="newClient.email" required>
          </div>
          <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="tel" class="form-control" id="telefono" name="telefono" [(ngModel)]="newClient.telefono">
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
      <!-- Columna derecha con la imagen -->
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="https://cdn.pixabay.com/photo/2012/04/13/21/07/user-33638_960_720.png" alt="Imagen" class="img-fluid img-medium">
      </div>
    </div>
  </div>
  