<div style="text-align: center;">
    <h1 style="padding: 10px"><span class="badge bg-secondary"> E Q U I P O - R O L E S </span></h1>
    <div class="d-flex justify-content-between align-items-center">
        <div></div> <!-- Este div es para ajustar el espacio -->
        <div class="col-2">
            <button type="button" class="btn btn-primary" title="Agregar nuevo producto" data-bs-toggle="modal"
                data-bs-target="#modal_add_user">
                <i class="bi bi-plus-circle me-1"></i>
                <span class="ms-1">Nuevo</span>
            </button>
        </div>
    </div>
    <hr>
</div>

<table class="table table-hover">
    <thead>
        <tr style="text-align: center;">
            <th scope="col">#</th>
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Rol</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios; let i = index" style="text-align: center;">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ usuario.user_usuario }}</td>
            <td>{{ usuario.nombre_user }}</td>
            <td>{{ usuario.apellido_user }}</td>
            <td>{{ usuario.tipo_rol }}</td>
            <td>{{ usuario.estado }}</td>
        </tr>
    </tbody>
</table>

<!-- Modal para Ingresar usuario -->
<div class="modal fade" id="modal_add_user" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">AGREGAR NUEVO USUARIO</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="mb-3">
                        <label for="usuario" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="usuario" name="usuario"
                            [(ngModel)]="newUser.user_usuario">
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre"
                            [(ngModel)]="newUser.nombre_user">
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido"
                            [(ngModel)]="newUser.apellido_user">
                    </div>
                    <div class="mb-3">
                        <label for="cc-name" class="form-label">Rol</label>
                        <select class="form-select" id="productos" name="id_producto" required
                            (change)="onChange($event)" [(ngModel)]="newUser.id_rol">
                            <option value="">Escoger...</option>
                            <option *ngFor="let rol of roles" [value]="rol.id_rol">
                                {{ rol.tipo_rol }}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="addUser()"> Agregar </button>
            </div>
        </div>
    </div>
</div>