<div class="container text-center">
    <h1 style="padding: 10px"><span class="badge bg-secondary"> S T O C K - P R O D U C T O S </span></h1>
    <form class="row d-flex" role="search" (ngSubmit)="buscarProductos()">
        <div class="col">
            <span> Nombre del Producto: </span>
        </div>
        <div class="col-8">
            <input id="searchInput" class="form-control mr-sm-1" type="search" placeholder="Search"
                [(ngModel)]="busqueda" name="busqueda" aria-label="Search" style="margin-right: 10px;"
                title="Buscar por nombre" (ngModelChange)="buscarProductos()">
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" title="Agregar nuevo producto" data-bs-toggle="modal"
                data-bs-target="#modal_add_producto">
                <i class="bi bi-plus-circle me-1"></i>
                <span class="ms-1">Nuevo</span>
            </button>
        </div>
    </form>
    <hr>
</div>

<table class="table table-hover">
    <thead>
        <tr style="text-align: center;">
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio</th>
            <th scope="col">Estado</th>
            <th scope="col">Categoria</th>
            <th scope="col">Imagen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of productos; let i = index" style="text-align: center;">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.stock }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.estado }}</td>
            <td>{{ producto.nombre_categoria }}</td>
            <td>{{ producto.imagen }}</td>
            <td>
                <!-- Ícono de editar -->
                <a title="Editar">
                    <i class="bi bi-pencil-square"></i>
                </a>
                &nbsp; <!-- Espacio entre íconos -->
                <!-- Ícono de eliminar -->
                <a title="Eliminar">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal para Crear Mesa -->
<div class="modal fade" id="modal_add_producto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">INGRESAR PRODUCTO</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="mb-3">
                        <label for="numMesa" class="form-label">Nombre del producto</label>
                        <input type="text" class="form-control" id="numMesa" name="numMesa">
                    </div>
                    <div class="col-md-4">
                        <label for="capacidad" class="form-label">Stock</label>
                        <input type="number" class="form-control" id="capacidad" name="capacidad" min="1">
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefaultUsername" class="form-label">Precio</label>
                        <div class="input-group">
                            <span class="input-group-text" id="inputGroupPrepend2">$</span>
                            <input type="number" class="form-control" id="validationDefaultUsername"
                                aria-describedby="inputGroupPrepend2" min="1" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="capacidad" class="form-label">Tiempo</label>
                        <input type="time" class="form-control" id="capacidad" name="capacidad" min="0">
                    </div>
                    <div class="col-md-6">
                        <label for="capacidad" class="form-label">Categoria</label>
                        <input type="number" class="form-control" id="capacidad" name="capacidad" min="0">
                    </div>
                    <div class="col-md-4 d-flex align-items-end">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#modal_add_categoria"> Crear </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"> Agregar </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Crear Categoria -->
<div class="modal fade" id="modal_add_categoria" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">CREAR CATEGORIA</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"> Agregar </button>
            </div>
        </div>
    </div>
</div>